+comment('general style')

+cm('png icons')
+ic
@if (global-variable-exists(spritesheet-sprites))
  @each $sprite in $spritesheet-sprites
    .ic--#{nth($sprite, 10)}
      &:before
        +bs($sprite)
+cm('svg icons')
+svg
@if (global-variable-exists(svg-spritesheet-sprites))
  @each $sprite in $svg-spritesheet-sprites
    .svg--#{nth($sprite, 1)}
      +svgi($sprite)

%link
  text-decoration: none
  transition: all .3s ease-out
  &:hover,
  &:focus
    text-decoration: none
%btn
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 0
  background-color: transparent
  @extend %link
  &:focus
    box-shadow: none
  &--default
  &--primary
  &--secondary
  &--simple
.btn
  &--pure
    margin: 0
    padding: 0
    border: none
    background-color: transparent
    border-radius: 0
    box-shadow: none
    &:not(:disabled):not(.disabled)
      cursor: pointer
  &--primary-left,
  &--primary-right
    position: relative
    margin: 0
    padding: 8px 15px
    border: none
    background-color: #54b9e4
    border: 2px solid #54b9e4
    border-radius: 8px
    min-width: 133px
    box-shadow: none
    font: 700 13px/16px $main-font
    color: #fff
    letter-spacing: -.4px
    text-transform: uppercase
    @extend %link
    &:not(:disabled):not(.disabled)
      cursor: pointer
    &:hover
      background-color: transparent
      color: #54b9e4
    &:focus
      background-color: #337ab7
      color: #fff
      border-color: #337ab7

    &:active
      border-color: #54b9e4 * 1.1
      color: #54b9e4 * 1.1
      background-color: transparent


  &__arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    &--left 
      left: 15px
    &--right 
      right: 15px

.img-fluid
  max-width: 100%
  height: auto

+cm("Typography")
.hidden-accessible
  border: 0 !important
  clip: rect(0 0 0 0) !important
  height: 1px !important
  margin: -1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  width: 1px !important

+comment("home page style")

+comment("section header style")
.header
  &#header
    +r($md)
      padding: 20px 0 10px
  &__container
    max-width: 900px
    margin:
      left: auto
      right: auto
  &__menu
  &__logo
    display: block
    max-width: 134px
  &__logo-group
    position: absolute
    +r($md)
      position: static


+comment("section signin-area style")
.signin-area
  display: flex
  flex-wrap: wrap
  margin:
    left: -10px
    right: -10px
  justify-content: flex-end
  align-items: center
  &__info
    +col(auto)
    padding:
      left: 10px
      right: 10px
  &__phone
    +col(auto)
    display: block
    padding: 18px 18px 18px 12px
  &__profile
    +col(auto)
    padding:
      left: 10px
      right: 10px
  &__menu
    +col(24)
    padding:
      left: 10px
      right: 10px
    +r($sm)
      +col(auto)
      order: -1
    +r($lg)
      margin-right: auto

.hr-menu
  &#navigation-menu
    display: block
    +r($md)
      display: inline-block
  &__nav
    text-align: center
    +r($sm)
      text-align: right
.hr-nav
  &__btn
    padding: 6px 10px
    border: none
    background-color: transparent
    font: 400 13px/17px $main-font
    letter-spacing: .6px
    color: #000
    transition: all .3s ease-out
    &:active,
    &.active
      box-shadow: none
      color: #5bc0de
    &:hover
      background-color: transparent
      color: #337ab7 * 1.2
    &:focus
      color: #337ab7 * 1.4
    &--active
      color: #337ab7
      &:active,
      &:hover,
      &:focus
        color: #337ab7
.sn-profile
  &__dropdown
    padding: 10px
.pl-figure
  border-radius: 50%
  overflow: hidden
  max-width: 51px
.hd-phone
  color: #666
  text-decoration: none
  transition: all .3s ease-out
  &:hover,
  &:focus
    text-decoration: none
    color: #337ab7
  &:active,
    color: #337ab7 * 1.2
  &:focus
    text-decoration: none
    color: #337ab7
  &__icon
    font-size: 24px

+comment("section in-intro style")
.in-heading
  font: 400 37px/47px $main-font
  color: #f2f2f2
  letter-spacing: 6px
.in-intro
  position: relative
  margin-bottom: 24px
  padding:
    top: 30px
    bottom: 30px
  min-height: 97px
  background-color: #4C5B84
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  z-index: 1
  &:before
    +coverdiv
    background-image: url(/img/intro-bg-2.svg)
    background-repeat: no-repeat
    background-position:  20px 16px
    background-size: contain
    z-index: -1
    +r($md)
      content: ''
    +r($lg)
  &__container
    margin:
      left: auto
      right: auto
    max-width: 885px
    min-height: inherit
    padding:
      left: 15px
      right: 15px
  &__row
    display: flex
    flex-wrap: wrap
    margin-right: -15px
    margin-left: -15px
    align-items: center
    justify-content: flex-end
    min-height: inherit
  &__col
    position: relative
    width: 100%
    min-height: 1px
    padding-right: 15px
    padding-left: 15px
  &__heading
    margin: 0
    text-align: center
    +r($md)
      text-align: right

+comment("section wm-welcome style")
.wm-heading
  font: 700 27px/34px $main-font
  color: #000
  letter-spacing: 1.26px
.wm-welcome
  margin-bottom: 4px
  padding: 12px 0 10px
  background-color: #dadada
  text-align: center
  &__container
    margin:
      left: auto
      right: auto
    max-width: 774px
  &__heading
    margin: 0

+comment("section nf-notify style")
.nf-text
  margin-bottom: 5px
  font: 500 16px/20px $main-font
  color: #000
  letter-spacing: 1.25px
  mark
    padding: 0
    background-color: transparent
    color: #136c91
  a
    font: inherit
    font-style: italic

.nf-link
  font: 500 16px/20px $main-font
  color: #787878
  letter-spacing: 1.25px
  font-style: italic
  text-decoration: none
  transition: all .3s ease-out
  &:active
    color: #5bc0de
  &:hover
    color: #337ab7 * 1.2
  &:focus
    color: #337ab7 * 1.4
    text-decoration: none
.nf-notify
  margin:
    bottom: 20px
  padding: 8px 0 6px
  background-color: #f0f0f0
  text-align: center
  &__container
    margin:
      left: auto
      right: auto
    max-width: 774px


+comment("section cm-panel style")
.cm-heading
  font: 600 16px/21px $main-font
  color: #ffffff
  letter-spacing: 1.25px
.cm-text
  font: 500 16px/21px $main-font
  color: #000
  letter-spacing: 1.25px
.cm-figure
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  width: 97px
  height: 97px
  margin: 0
  border-radius: 50%
  overflow: hidden
  background-color: #2eaed5
  &__img
    @extend .img-fluid
    +col(60px)
.cm-item
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: center
  min-height: 119px
  padding: 7px 7px 7px 10px
  border-radius: 35px 4px 35px 4px
  background-color: #dadada
  font: 500 16px/20px $main-font
  color: #000
  letter-spacing: 1.25px
  text-decoration: none
  transition: all .3s ease-out
  &:hover,
  &:focus
    text-decoration: none
  &:hover
    background-color: #d9edf7
    color: #337ab7
  &:active
    box-shadow: 0 0 5px 3px #d9edf7
  &:focus
    color: #337ab7
  &__figure
    margin-right: 16px
  &__text
    +col
    margin-bottom: 0
    color: inherit
  .text-primary
    position: absolute
    top: 14px
    right: 14px
.cm-list
  $this: &
  margin: 0
  padding: 0
  list-style-type: none
  &__item
    margin:
      right: auto
      bottom: 16px
      left: auto
    max-width: 370px
    &:nth-child(even)
      .cm-item__figure
        background-color: #347bb1
  &__link

.cm-panel
  $this: &
  &__container
    margin:
      left: auto
      right: auto
    max-width: 774px
  &__row
    display: flex
    flex-wrap: wrap
    margin-right: -15px
    margin-left: -15px
    +r($md)
      margin:
        left: -1px
        right: -1px
  &__col
    position: relative
    width: 100%
    min-height: 1px
    padding-right: 15px
    padding-left: 15px
    +r($md)
      padding:
        left: 1px
        right: 1px
      &:nth-child(odd)
        .cm-card__content
          margin:
            right: -1px
          border-right: 1px solid #7e7e7e
    &--1
      +r($md)
        +col(12)
        .cm-card__content
          padding-right: 24px
    &--2
      +r($md)
        +col(12)
        .cm-card__content
          padding-left: 18px
  &__card
    height: 100%
.cm-card
  display: flex
  flex-wrap: wrap
  flex-direction: column
  &__header
    margin:
      bottom: 16px
    padding: 11px 18px
    background-color: #347bb1
  &__content
    flex-grow: 1
  &__heading
    margin: 0
#preview-container .cm-card .panel-body
  margin: 19px 3px 0
  
+comment("section footer style")
.footer
  &__container
    border: none
  &__nav    
    border-top: 1px solid #bdbdbd
    +r($md)
      display: inline-block
      vertical-align: top
.ft-nav
  padding: 13px 20px
  +r($md)
    padding: 
      top: 26px
      bottom: 26px

  &__link
    display: block
    padding: 7px 22px
    font: 400 13px/17px $main-font
    color: #000
    text-transform: uppercase
    letter-spacing: .3px
    +r($md)
      display: inline
      padding: 
        top: 26px
        bottom: 26px

+comment("page Medical Profile")

+comment("section mp-profile style")
.mp-profile
  &__wrapper
    max-width: 875px
    margin: 
     left: auto
     right: auto
  &__container
    max-width: 780px
    margin: 
     left: auto
     right: auto
  &__row
    display: flex
    flex-wrap: wrap
    margin-right: -15px
    margin-left: -15px
  &__col
    position: relative
    width: 100%
    min-height: 1px
    padding-right: 15px
    padding-left: 15px
    &--1
      +col
      padding-left: 73px
    &--2
      +col(auto)
  &__list
  .cm-card
    margin-top: 48px
    &__text
      @extend .hidden-accessible

.mp-list
  $this: &
  display: flex
  justify-content: space-between
  margin: 0
  padding: 6.25em .625em 1em
  counter-reset: list
  list-style-type: none
  +cm("!* ")
  +cm("* You can zoom this list, by changing font-size value")
  +cm("*")
  font-size: 16px
  +cm("*")
  +cm("*")
  +cm("*!")
  &__item
    position: relative
    +col
    cursor: pointer
    color: #000
    z-index: 1
    &:hover
      color: #337ab7
    &:active
      color: #337ab7 * 1.4

    &:after
      content: ''
      counter-increment: list
      width: 1.25em
      height: 1.25em
      transform: translateX(-50%)
      display: flex
      justify-content: center
      align-items: center
      background-color: #3d91b5
      border-radius: 50%
      font: 700 1em/1 $main-font
      color: #fff
      letter-spacing: -1.15px
      transition: all .15s linear
      z-index: 1
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      width: 100%
      height: .5em
      background-color: #54b9e4
      z-index: -1
    &:last-of-type
      &:before
        content: none
    &:nth-child(-n+9)
      &:after
        letter-spacing: 0
    &--active
      &:after
        content: counter(list)
        box-shadow: 0 0 0 .188em #64caf0
      &:before
        background-color: #bdbdbd
      &~#{$this}__item
        &:after
          background-color: #bdbdbd
        &:before
          background-color: #bdbdbd

  &__text
    position: absolute
    top: -.325em
    left: .25em
    transform: translateY(-50%) rotate(-39deg)
    transform-origin: 0 0
    font: 400 .750em/1 $main-font
    color: inherit
    letter-spacing: 0.7px
    white-space: nowrap
    transition: all .3s ease-out

+comment("section mp-content style")
.mp-heading
  font: 600 16px/22px $main-font
  color: #000
  letter-spacing: 1.25px
.mp-descr
  font: 400 13px/18px $main-font
  color: #000
  letter-spacing: .75px
.mp-text
  font: 400 14px/18px $main-font
  color: #757575
.mp-content
  position: relative
  &__item
    width: 100%
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    position: absolute
    &--active
      clip: rect(auto auto auto auto)
      overflow: visible
      position: relative
      height: auto
.mp-header
  position: relative
  padding-top: 45px
  min-height: 100px
  z-index: 1
  &:before
    content: attr(data-tabs-content-counter)
    position: absolute
    width: 212px
    top: 0
    left: 8px
    transform: translateX(-50%)
    font: 700 120px/112px $main-font
    color: #e4f2fa
    text-align: center
    z-index: -1
  &__heading
    margin-bottom: 4px
.mp-sub-heading
  font: 600 13px/16px $main-font
  color: #000
  text-transform: uppercase
.mp-btn-group
  display: flex
  flex-wrap: wrap
  &__btn
    position: relative
    width: 100%
    min-height: 1px
    +col(auto)
    &--right
      margin-left: auto
.mp-rdbox-group
  margin:
    bottom: 13px
.mp-rdbox-btn
  $this: &
  padding: 6px 0
  color: #4d4d4d
  &--uppercase
    input[type="radio"]
      &+ label
        text-transform: uppercase
  input[type="radio"]
    display: block
    float: none
    @extend .hidden-accessible
    &+ label
      width: auto
      height: auto
      padding:
        left: 30px
      border-radius: 0
      overflow: visible
      margin: 0
      border: none
      cursor: pointer
      font: 400 13px/16px $main-font
      color: #000
      &:before
        content: '\f111'
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        left: 0
        top: 50%
        width: 1.692em
        height: 1.692em
        transform: translateY(-50%)
        border: 1px solid #989898
        border-radius: 50%
        font: normal normal normal 14px/1 FontAwesome
        font-size: 14px
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color: transparent
        transition: all .3s linear
      &:after
        content: none
  input[type="radio"]:checked 
    &+ label
      &:before
        color: #498fb3

.mp-chkbox-group
  margin:
    bottom: 13px
.mp-chkbox-btn
  $this: &
  padding: 6px 0
  color: #4d4d4d
  &--uppercase
    input[type="checkbox"]
      &+ label
        text-transform: uppercase

  input[type="checkbox"]
    display: block
    float: none
    @extend .hidden-accessible
    &+ label
      width: auto
      height: auto
      padding:
        left: 30px
      border-radius: 0
      overflow: visible
      margin: 0
      border: none
      cursor: pointer
      font: 400 13px/16px $main-font
      color: #000
      &:before
        content: '\f00c'
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        left: 0
        top: 50%
        width: 1.692em
        height: 1.692em
        transform: translateY(-50%)
        border: 1px solid #989898
        border-radius: 4px
        font: normal normal normal 14px/1 FontAwesome
        font-size: 14px
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color: transparent
        transition: all .3s linear
      &:after
        content: none
  input[type="checkbox"]:checked 
    &+ label
      &:before
        color: #498fb3
